html {
  height: 100%;
  width: 100%;
}

h1 {
  font: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  text-align: center;
  background-color: grey;
}

p {
  font: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: darkred;
}
